.projectphoto{
    height: 420px;
}
.project-card{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
    padding: 8px 0px;
}
.project-info{
    margin-right: 8px;
}
.project-title{
    font-size: 20px;
    font-family: 600px;

}
.project-tags{
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
}
.tags{
    padding: 4px 8px;
    background-color: aquamarine;
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 4px;
}
.project-links a{
    text-decoration: none;
    color: black;
}

.project-links{
    display: flex;
    margin: 6px;
}

.link-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    border-radius: 4px;
    width: max-content;
    margin-right: 6px;
    font-size: 16px;
}

.link-button i{
    display: flex;
    align-items: center;
    margin-right: 6px;
}

@media only screen and (max-width:720px){
    .projectphoto{
        height: 280px;
    }
    .project-card{
        flex-direction: column-reverse;
    }
    .project-info{
        margin-left: 0;
        margin-top: 12px;

    }
    .project-tags{
        max-width: 100%;
    }
}